<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/invoices/static/css/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/greenhouse/static/js/canvasjs-1.6.2/canvasjs.min.js"></script>

	<script type="text/javascript">
	window.onload = function() {

		// dataPoints
		var dataPoints1 = [];
        {{for t in temperature:}}
            var d = {x: new Date({{=t['created_on']*1000}}), y:{{=t['temperature']}}}
            dataPoints1.push(d)
        {{pass}}

        var dataPoints2 = [];
        {{for t in humidity:}}
            var d = {x: new Date({{=t['created_on']*1000}}), y:{{=t['humidity']}}}
            dataPoints2.push(d)
        {{pass}}

		var chart = new CanvasJS.Chart("chartContainer",{


			zoomEnabled: true,
			title: {
				text: "Temperature and Humidity"
			},
			toolTip: {
				shared: true


			},
			legend: {
				verticalAlign: "top",
				horizontalAlign: "center",
                                fontSize: 14,
				fontWeight: "bold",
				fontFamily: "calibri",
				fontColor: "dimGrey"
			},
            axisX:{
                title: "Timeline",
                gridThickness: 1
            },
            axisY:{
                interval: 10,
                maximum: 110,
                minumum: 0,
                gridThickness: 1
            },
			data: [{
				// dataSeries1
				type: "area",
                color: "green",
                fillOpacity: .5,
				xValueType: "dateTime",
                valueFormatString: "YYYY-MM-DD HH:mm:ss",
				showInLegend: true,
				name: "Temperature",
				dataPoints: dataPoints1
			},
			{
				// dataSeries2
                color: "blue",
                fillOpacity: .4,
				type: "area",
				xValueType: "dateTime",
                valueFormatString: "YYYY-MM-DD HH:mm",
				showInLegend: true,
				name: "Humidity" ,
				dataPoints: dataPoints2
			}],
		});




        chart.render();

	};
	</script>
  <!-- include stylesheets -->
  {{
  response.files.insert(0,URL('static','css/web2py.css'))
  response.files.insert(1,URL('static','css/bootstrap.min.css'))
  response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  response.files.insert(3,URL('static','css/bootstrap-3.3.4/dist/css/bootstrap.min.css'))
  response.files.insert(3,URL('static','css/style.css'))
  }}

  {{include 'web2py_ajax.html'}}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: #5cb85c; padding-right: 0px;" href="/greenhouse">Green</a>
            <a class="navbar-brand" href="/greenhouse">House</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
        <div class="title">
            <div class="btn-group" role="group" style="float:right;">
            </div>
        </div>
      <div class="starter-template">
        <div class="row">
          <div class="col-md-6" style="height: 500px; overflow-y: scroll;">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Temperature (Fahrenheit)</th>
                  <th>Humidity</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
              {{i=0}}
                {{while i < len(data):}}
                    {{temperature = data[i]['temperature']}}
                    {{humidity = data[i]['humidity']}}
                    {{created_on = data[i]['created_on']}}
                    {{i+=1}}
                    <tr>
                      <th scope="row">{{=i}}</th>
                      <td>{{=str(temperature)}}</td>
                      <td>{{=str(humidity)}}%</td>
                        <td>{{=created_on}}</td>
                    </tr>
                {{pass}}
              </tbody>
            </table>
            </div>



        <div class="col-md-6">

            <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        </div>
    </div>
    </div><!-- /.container -->

    <!-- Placed at the end of the document so the pages load faster -->


  </body>
</html>
